@charset "UTF-8";
/* Responsive Setup */

@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

/* CSS */

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #ffffff;
	font-family:'Roboto Slab', serif;
}

header{
	background-image: url(../images/dottie.png);
	background-repeat: repeat;
	margin-bottom: 2rem;
	margin-top: -1rem;
}

h1, 
h2{
	font-family: 'Lobster Two', cursive;
	font-weight: 700;
	width: 100%;
	margin: 1rem auto;
	font-size: 32px;
	text-align: center;
	padding: 2.5rem;
	color: #353431;
}

h3{
	font-family: 'Roboto Slab', serif;
	font-weight: 400; 
	font-size: 18px;
	text-align: center;
}



img{
	width: 100%;
}

main{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin: -2rem auto -1rem;
	text-align: center;
	background-color: #fff;
	overflow:auto;
}

.ease-all, 
.fancy-link, 
.fancy-link:link{
	-webkit-transition: all 350ms ease-in-out;
	-moz-transition: all 350ms ease-in-out;
	-ms-transition: all 350ms ease-in-out;
	-webkit-transition: all 350ms ease-in-out;
	-o-transition: all 350ms ease-in-out;
	transition: all 350ms ease-in-out;
}

.fancy-link,
.fancy-link:link,
.fancy-link:visited{
	color: #353431;
	text-decoration: none;
	font-weight: bold;
	border-bottom: 0 solid #353431;
}

.fancy-link:hover,
.fancy-link:active,
.fancy-link:focus{
	color: #353431;
	border-bottom: 2px solid #353431;
}

.intro{
	font-family: "Lobster Two", cursive;
	font-size: 22px;
	text-align: center;
	margin: 2rem 3%;
}

.logo{
	width: 40%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:3rem;
}

/* Navigation Styles */

.nav-btn,
.nav-btn:link,
.nav-btn:visited{
	display: block;
	height: 40px;
	width: 40px;
	position: absolute;
	top: 18px;
	right: 5%;
	background: white url('../images/nav-icon.svg') no-repeat center center;
}

.nav a, 
.nav a:link,
.nav a:visited{
	display:block;
	background-color: #353431;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding: 1rem;
	border-top: 1px solid #ffffff;
	text-transform: uppercase;
}

.nav a:hover,
.nav a:focus,
.nav a active{
	background-color: #55534e;
}

.nav a.selected{
	background-color: #55534e;
}

.nav-top{
	display: none;
}

.nav-top[data-state="expanded"]{
	display: block;
}

.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/* End of Nav */

p{
	line-height: 1.5rem;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	text-align: center; 
	float: inherit;
}

.first{
	padding: 0.5rem 10%;
}

.first1{
	padding: 0.5rem 10% 2rem;
}

.flavours{
	font-family: 'Roboto Slab', serif;
	padding-top: 1rem;
}

.album{
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.sample{
	padding-top: 2rem;
}

.last{
	padding-bottom: 53px;
	border-bottom: 3px solid #ccc;
}

.maincopy{
	text-align: center;
}

.contact{
	position: relative;
	text-align:center;
	margin: 2rem;
	padding-bottom: 2rem;
	display: inline-block;
}

.contact li{
	margin: 0.5rem;
	display: inline-block;
	width: 20%;
}

.bottom{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}

.bottom a, 
.bottom a:link,
.bottom a:visited{
	display:block;
	background-color: #353431;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	padding: 1rem;
	border-bottom: 1px solid #ffffff;
	text-transform: uppercase;
}

.bottom a:hover,
.bottom a:focus,
.bottom a active{
	background-color: #55534e;
}

.center1{
		padding-bottom: 2rem;
}

/*footer*/

.copyright{
	font-family: 'Lobster Two', cursive;
	font-size: 20px;
	font-weight: 400;
}

footer {
	display: block;
	background-image: url(../images/dottie.png);
	background-repeat: repeat;
	color: #000;
	text-decoration: none;
	padding: 1rem;
}

/* Flexslider */

.flexslider{
	max-width: 35rem;
	margin: 50px auto;
	border: 0;
	box-shadow: none;
}

/* Media Query */

@media only screen and (min-width: 27em) {
	
	h1, 
	h2{
	 font-size: 46px;
	}
	
	.first {
	padding: 0.5rem 17%;
	}

	.first1 {
	padding: 0.5rem 17% 2rem;
	}
	
	.nav{
		overflow: auto;
	}
	
	.nav li{
		float: left;
		width: 25%;
		border-top: 3px solid #ffffff; 
	}
	
	.nav-btn,
	.nav-btn:link,
	.nav-btn:visited{
		display: none;
	}
	
	.nav-top{
		display: block;
	}
	
	.sample {
		padding: 2rem;
	}

	.bottom{
		overflow: auto;
	}
	
	.bottom li{
		float: left;
		width: 25%;
		border-bottom: 3px solid #ffffff;
	}	

}

@media only screen and (min-width: 35em) {
	 
	h1, 
	h2{
	 font-size: 60px;
	}
	
	header{
		overflow: auto;
	}
	
	.logo{
		width: 32%;
	}
	
	.col{
		width: 47.5%;
	}
	
	.contact li {
		margin: 1.5rem;
	}
	
	.left{
		float: left;
		margin-right: 5%;
	}
	
	.right{
		float: right;
	}
	
	.center{
		padding-top: 20rem;
	}
	
	.album{
		text-align: center;
	}
}

@media only screen and (min-width: 65em) {
	
	h1, 
	h2{
	 font-size: 75px;
	}

	body{
		padding: 0 13%;
		background-image: url(../images/dottie.png);
		background-repeat: repeat;	
	}
	
	header{
		background-image: none;
		background-color: #fff;
	}
	
	.contact li {
		margin: 2rem;
	}
	
	footer{
		background-image: none;
		background-color: #fff;
	}

}




